@{
    ViewData["Title"] = "Azure Secure Configuration Demo";
}

<h2>Azure Secure Configuration Demo</h2>
<p>Secret from Azure Key Vault: @ViewBag.SecretValue1</p>
<p>Secret from Azure Key Vault: @ViewBag.SecretValue2</p>