@{
    ViewData["Title"] = "Azure Secure Configuration Demo";
}
@using WebAppDemo.WebApp.Controllers;
@model Settings


<h2>Azure Secure Configuration Demo</h2>

<p>App Setting from Azure App Configuration: </p>>
<ul>
    <li>One: @Model.One</li>
    <li>Two: @Model.Two</li>
    <li>Three: @Model.Three</li>
    <li>Four: @Model.Four</li>
</ul>